/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text */
    margin: 0;
    padding: 0;
    height: 100%; /* Use height 100% instead of 100vh */
    text-align: center;
}

/* Container */
.container {
    width: 80%;
    margin-top: 50px; /* Reduce the margin-top */
    text-align: center;
    padding: 0px;
}

/* Mobile-specific styles */
@media only screen and (max-width: 767px) {
    .container {
        margin-top: 100vh; /* Use a smaller margin-top for mobile */
        width: 90%; /* Adjust width for mobile */
    }
}

/* Title and Subtitle */
h1 {
    color: #00b4d8; /* Bright blue for main title */
    font-size: 2rem;
}

h2 {
    color: #90e0ef; /* Lighter blue for subtitle */
    font-size: 1.5rem;
}

/* Search Container */
#kanjiInput {
    padding: 10px;
    width: 80%; /* Increase width for better visibility */
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #0077b6;
}

button {
    background-color: #00b4d8;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #0077b6;
}

/* Result Section */
.result-box {
    margin-top: 20px;
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    white-space: pre-line;
}

/* New classes for kanji and reading */
.kanji-highlight {
    background-color: #00b4d8;
    padding: 2px 5px;
    border-radius: 3px;
}

.reading-highlight {
    background-color: #90e0ef;
    padding: 2px 5px;
    border-radius: 3px;
}

/* Explanation Section */
.explanation {
    margin-top: 20px;
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.explanation p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.explanation strong {
    color: #00b4d8;
}
